doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Apex Photography
        link(rel="stylesheet", type="text/css", href="css/style.css")
    body#top
      .section.section_main
        // Landing Area
        #landing
          #landing-text
            #landing-text-inner
              h1 Apex Photography
              h2 Профессиональная фотосъемка
              a#view-work.btn.js-scroll-trigger(href="#images")
                | Наши Работы
          #landing-image
        #images
          #header
            h2 Наши Работы
          
          a.example-image-link(href='img/1_1920.jpg', data-lightbox='example-1')
            img.example-image(src='img/1_900.jpg', alt='image-1')
          .caption
            h3 Фотография первая
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, tenetur.
            
          a.example-image-link(href='img/2_1920.jpg', data-lightbox='example-1')
            img.example-image(src='img/2_900.jpg', alt='image-1')
          .caption
            h3 Фотография вторая
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, tenetur.
            
          a.example-image-link(href='img/3_1920.jpg', data-lightbox='example-1')
            img.example-image(src='img/3_900.jpg', alt='image-1')
          .caption
            h3 Фотография третья
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, tenetur.
            
          a.example-image-link(href='img/4_1920.jpg', data-lightbox='example-1')
            img.example-image(src='img/4_900.jpg', alt='image-1')
          .caption
            h3 Фотография четвертая
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, tenetur.
          

          a.example-image-link(href='img/5_1920.jpg', data-lightbox='example-1')
            img.example-image(src='img/5_900.jpg', alt='image-1')
          .caption
            h3 Фотография пятая
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, tenetur.
          
          a.example-image-link(href='img/6_1920.jpg', data-lightbox='example-1')
            img.example-image(src='img/6_900.jpg', alt='image-1')
          .caption
            h3 Фотография шестая
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, tenetur.
            
      .section.section_footer
        p Для получения консультации вы можете написать нам email или связаться с нами по телефону
        p
          | Email:
          strong web@northarea.ru
        p
          | Phone:
          strong +7(952)933-85-47
      #footer(style="text-align:center;")
          a(href="https://northarea.ru/",target="_blank") NorthArea.ru
          |&nbsp|&nbsp
          a(href="https://github.com/NorthArea/",target="_blank") Github
          |&nbsp &copy 2018
      a.scrollup.js-scroll-trigger(href="#top") Наверх
      script(type='text/javascript', src="js/main.js")