// Shipping
section.shipping.bgwhite.p-t-62.p-b-46
  .flex-w.p-l-15.p-r-15
    .flex-col-c.w-size5.p-l-15.p-r-15.p-t-16.p-b-15.respon1
      h4.m-text12.t-center
        | Бесплатная доставка почтой России
      a.s-text13.t-center(href='#')
        | Узнать больше
    .flex-col-c.w-size5.p-l-15.p-r-15.p-t-16.p-b-15.bo2.respon2
      h4.m-text12.t-center
        | 30 дней для возврата
      span.s-text13.t-center
        | Простой обмен вещей в течении 30 дней.
    .flex-col-c.w-size5.p-l-15.p-r-15.p-t-16.p-b-15.respon1
      h4.m-text12.t-center
        | Магазин Открыт
      span.s-text13.t-center
        | Магазин открыт с понедельника по субботу
// Footer
footer.bg6.p-t-45.p-l-45.p-r-45
  .flex-w.p-b-90
    .w-size6.p-t-30.p-l-15.p-r-15.respon3
      h4.s-text12.p-b-30
        | Контакты
      div
        p.s-text3.w-size27
          | Возникли вопросы? (+7) 952-933-85-47
        .flex-m.p-t-30
          a.fs-18.color1.p-r-20.fa.fa-facebook(href='#')
          a.fs-18.color1.p-r-20.fa.fa-instagram(href='#')
          a.fs-18.color1.p-r-20.fa.fa-pinterest-p(href='#')
          a.fs-18.color1.p-r-20.fa.fa-snapchat-ghost(href='#')
          a.fs-18.color1.p-r-20.fa.fa-youtube-play(href='#')
    .w-size7.p-t-30.p-l-15.p-r-15.respon4
      h4.s-text12.p-b-30
        | Категории
      ul
        li.p-b-9
          a.s-text3(href='male.html')
            | Мужчины
        li.p-b-9
          a.s-text3(href='female.html')
            | Женщины
        li.p-b-9
          a.s-text3(href='product.html')
            | Платья
        li.p-b-9
          a.s-text3(href='product.html')
            | Очки
    .w-size7.p-t-30.p-l-15.p-r-15.respon4
      h4.s-text12.p-b-30
        | Ссылки
      ul
        li.p-b-9
          a.s-text3(href='index.html')
            | Поиск
        li.p-b-9
          a.s-text3(href='about..html')
            | О нас
        li.p-b-9
          a.s-text3(href='contact.html')
            | Контакты
        li.p-b-9
          a.s-text3(href='index.html')
            | Возврат
    .w-size7.p-t-30.p-l-15.p-r-15.respon4
      h4.s-text12.p-b-30
        | Помощь
      ul
        li.p-b-9
          a.s-text3(href='#')
            | Отследить посылку
        li.p-b-9
          a.s-text3(href='#')
            | Доставка
        li.p-b-9
          a.s-text3(href='#')
            | FAQ
    .w-size8.p-t-30.p-l-15.p-r-15.respon3
      h4.s-text12.p-b-30
        | Новости
      form
        .effect1.w-size9
          input.s-text3.bg6.w-full.p-b-5(type='text', name='email', placeholder='email@example.com')
          span.effect1-line
        .w-size2.p-t-20
          // Button
          button.flex-c-m.size2.bg4.bo-rad-23.hov1.m-text3.trans-0-4
            | Подписаться
.container(style="text-align:center; color:black")
    a(href="https://northarea.ru/",target="_blank") NorthArea.ru