// Instagram
section.instagram.p-t-20
  .sec-title.p-b-52.p-l-15.p-r-15
    h3.m-text5.t-center Мы в Instagram 
      span.fa.fa-instagram
  .flex-w
    // Block4
    .block4.wrap-pic-w
      img(src='img/block4_01.jpg', alt='IMG-INSTAGRAM')
      a.block4-overlay.sizefull.ab-t-l.trans-0-4(href='img/block4_01.jpg',data-lightbox="roadtrip")
        span.block4-overlay-heart.s-text9.flex-m.trans-0-4.p-l-40.p-t-25
          i.icon_heart_alt.fs-20.p-r-12(aria-hidden='true')
          span.p-t-2 39
        .block4-overlay-txt.trans-0-4.p-l-40.p-r-25.p-b-30
          p.s-text10.m-b-15.h-size1.of-hidden
            | Sapiente beatae repudiandae ipsum aliquam veritatis at, molestias porro debitis.Sapiente beatae repudiandae ipsum aliquam veritatis at, molestias porro debitis.
          span.s-text9
            | Photo by @dolores
    // Block4
    .block4.wrap-pic-w
      img(src='img/block4_02.jpg', alt='IMG-INSTAGRAM')
      a.block4-overlay.sizefull.ab-t-l.trans-0-4(href='img/block4_02.jpg',data-lightbox="roadtrip")
        span.block4-overlay-heart.s-text9.flex-m.trans-0-4.p-l-40.p-t-25
          i.icon_heart_alt.fs-20.p-r-12(aria-hidden='true')
          span.p-t-2 39
        .block4-overlay-txt.trans-0-4.p-l-40.p-r-25.p-b-30
          p.s-text10.m-b-15.h-size1.of-hidden
            | Sapiente beatae repudiandae ipsum aliquam veritatis at, molestias porro debitis.Sapiente beatae repudiandae ipsum aliquam veritatis at, molestias porro debitis.
          span.s-text9
            | Photo by @dolores
    // Block4
    .block4.wrap-pic-w
      img(src='img/block4_03.jpg', alt='IMG-INSTAGRAM')
      a.block4-overlay.sizefull.ab-t-l.trans-0-4(href='img/block4_03.jpg',data-lightbox="roadtrip")
        span.block4-overlay-heart.s-text9.flex-m.trans-0-4.p-l-40.p-t-25
          i.icon_heart_alt.fs-20.p-r-12(aria-hidden='true')
          span.p-t-2 39
        .block4-overlay-txt.trans-0-4.p-l-40.p-r-25.p-b-30
          p.s-text10.m-b-15.h-size1.of-hidden
            | Sapiente beatae repudiandae ipsum aliquam veritatis at, molestias porro debitis.Sapiente beatae repudiandae ipsum aliquam veritatis at, molestias porro debitis.
          span.s-text9
            | Photo by @dolores
    // Block4
    .block4.wrap-pic-w
      img(src='img/block4_04.jpg', alt='IMG-INSTAGRAM')
      a.block4-overlay.sizefull.ab-t-l.trans-0-4(href='img/block4_04.jpg',data-lightbox="roadtrip")
        span.block4-overlay-heart.s-text9.flex-m.trans-0-4.p-l-40.p-t-25
          i.icon_heart_alt.fs-20.p-r-12(aria-hidden='true')
          span.p-t-2 39
        .block4-overlay-txt.trans-0-4.p-l-40.p-r-25.p-b-30
          p.s-text10.m-b-15.h-size1.of-hidden
            | Sapiente beatae repudiandae ipsum aliquam veritatis at, molestias porro debitis.Sapiente beatae repudiandae ipsum aliquam veritatis at, molestias porro debitis.
          span.s-text9
            | Photo by @dolores
    // Block4
    .block4.wrap-pic-w
      img(src='img/block4_05.jpg', alt='IMG-INSTAGRAM')
      a.block4-overlay.sizefull.ab-t-l.trans-0-4(href='img/block4_05.jpg',data-lightbox="roadtrip")
        span.block4-overlay-heart.s-text9.flex-m.trans-0-4.p-l-40.p-t-25
          i.icon_heart_alt.fs-20.p-r-12(aria-hidden='true')
          span.p-t-2 39
        .block4-overlay-txt.trans-0-4.p-l-40.p-r-25.p-b-30
          p.s-text10.m-b-15.h-size1.of-hidden
            | Sapiente beatae repudiandae ipsum aliquam veritatis at, molestias porro debitis.Sapiente beatae repudiandae ipsum aliquam veritatis at, molestias porro debitis.
          span.s-text9
            | Photo by @dolores
            // Block4
    .block4.wrap-pic-w
      img(src='img/block4_06.jpg', alt='IMG-INSTAGRAM')
      a.block4-overlay.sizefull.ab-t-l.trans-0-4(href='img/block4_06.jpg',data-lightbox="roadtrip")
        span.block4-overlay-heart.s-text9.flex-m.trans-0-4.p-l-40.p-t-25
          i.icon_heart_alt.fs-20.p-r-12(aria-hidden='true')
          span.p-t-2 39
        .block4-overlay-txt.trans-0-4.p-l-40.p-r-25.p-b-30
          p.s-text10.m-b-15.h-size1.of-hidden
            | Sapiente beatae repudiandae ipsum aliquam veritatis at, molestias porro debitis.Sapiente beatae repudiandae ipsum aliquam veritatis at, molestias porro debitis.
          span.s-text9
            | Photo by @dolores