extends partials/layout.pug
block variables
  - var name = 'about'
  - var title = "О Нас"
block content
  // Title Page
  section.bg-title-page.p-t-40.p-b-50.flex-col-c-m(style='background-image: url(img/heading-pages-06.jpg);')
    h2.l-text2.t-center
      | О нас
  // content page
  section.bgwhite.p-t-66.p-b-38
    .container
      .row
        .col-md-4.p-b-30
          .hov-img-zoom
            img(src='img/team.jpg', alt='IMG-ABOUT')
        .col-md-8.p-b-30
          h3.m-text26.p-t-15.p-b-16
            | Наша История
          p.p-b-28
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea aut voluptate voluptatibus error repudiandae in, quaerat, deleniti dolore distinctio at alias itaque. Corrupti temporibus aspernatur ratione voluptatum velit qui ut sequi doloremque, saepe porro dolore minima minus omnis veritatis reprehenderit provident. Quia perferendis officia officiis eius impedit consequatur mollitia sequi excepturi, nostrum. Itaque odit non qui eligendi, vitae laboriosam voluptatem, adipisci dolor ea voluptatibus, consequuntur mollitia! Facere dolor commodi tempora, laboriosam quaerat natus temporibus sed deserunt sunt. Odio magnam ducimus eum adipisci et, corrupti laboriosam impedit debitis quia atque temporibus distinctio unde at praesentium quisquam nulla neque aperiam fuga aliquam incidunt reprehenderit. Alias doloremque amet nihil perferendis quaerat delectus officiis fugiat illum est eligendi ex autem maxime unde, veritatis iste, consequuntur itaque error rerum mollitia iusto adipisci temporibus in officia distinctio! Nemo earum dolore quo perspiciatis facilis dolores ab voluptatem? Sapiente beatae repudiandae ipsum aliquam veritatis at, molestias porro debitis.
          .bo13.p-l-29.m-l-9.p-b-10
            p.p-b-11
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id aspernatur natus at, praesentium veniam amet, velit maiores repellendus a maxime.
            span.s-text7
              | - John Doe&rsquo;s